body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: black;
    color: green;
    margin: 0;
    padding: 0;
}

h2, p, button {
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0 0 5px green;
}

button {
    border: 2px solid green;
    color: green;
    background-color: black;
    cursor: pointer;
    padding: 10px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: green;
    color: black;
}

.oponent {
    position: absolute;
    top: 16vh;
    left: 20px;
    width: 250px;
    height: auto;
    filter: contrast(1.2) brightness(0.8) saturate(0.5);
    border: 2px solid green;
    padding: 10px;
    background: #002a00; /* CRT effect */
    box-shadow: 0 0 10px green, 0 0 20px green;
    transform: rotateX(2deg) rotateY(-2deg); /* Adds a slight depth */
}

.oponent img {
    width: 100%;
    height: auto;
}

#dealer-cards, #your-cards {
    display: inline-block;
    
}

#dealer-cards img, #your-cards img {
    height: 175px;
    width: 125px;
}

#canvas {
    border: 2px solid green;
    margin-top: 20px;
    box-shadow: 0 0 10px green;
}

.bg-dark {
    background-color: black !important;
}

.text-light {
    color: green !important;
}
